<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-violet">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/Arg_prog.png" alt="Argentina Programa" class="w-75 letra-negra">
        </a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.linkedin.com/in/german-blasco/" target="_blank"><i
                        class="fa-brands fa-linkedin fa-lg text-white"></i></a></li>
            <li class="list-group-item"><a href="https://www.facebook.com/german.bl.12" target="_blank"><i
                        class="fa-brands fa-facebook fa-lg text-white"></i></a></li>
            <li class="list-group-item"><a href="https://github.com/german120/" target="_blank"><i
                        class="fa-brands fa-github fa-lg text-white"></i></a></li>
            <li class="list-group-item">
                <a href="/login" target="_blank">
                    <button type="button" class="btn btn-outline-light " (click)="login()" *ngIf="!isLogged">Log-in</button>
                    <button type="button" class="btn btn-outline-light " (click)="onLogOut()" *ngIf="isLogged">Log-out</button>
                </a>
                <!-- Boton para ventana modal -->
                <!--<i class="fa-solid fa-user-lock fa-lg text-white" data-bs-toggle="modal"
                            data-bs-target="#loginModal"></i>-->
            </li>
        </ul>
        
    </div>
</nav>