<!--Experiencia-->
<section class="presentacion mt-5">
    <h4 class="text-center">Experiencia</h4>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-9">
                <h5 class="mt-5">ipsum dolor sit amet consectetur adipisicing elit. Vel repellendus autem
                    consequuntur
                    iusto hic impedit,</h5>
            </div>

            <div class="col-3">
                <img src="assets/sysadmin.jpg" alt="Yo" class="img-fluid imagen-perfil">
            </div>
        </div>
    </div>
</section>